/* Event Page CSS */
.eventCardSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.eventCard{
    width: 300px;
    margin: 3%;
    height: 360px;
}
.eventHeading{
    color: #ffffff;
    text-align: center;
    margin: 1rem 0;
    font-size: 2.75rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.eventCard > a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-family: cursive;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.eventCard > a > h4{
    font-size: 2rem;
    text-align: center;
    margin-top: 50%;
    background-color: #000000;
    padding: 0.25rem;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow{
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px  #585858, 0 0 20px #585858, 0 0 25px  #585858, 0 0 30px  #585858, 0 0 35px #585858;
      }
      to {
        text-shadow: 0 0 10px #fff, 0 0 15px #979797, 0 0 20px  #979797, 0 0 25px  #979797, 0 0 30px  #979797, 0 0 35px #979797, 0 0 40px #979797;
      }
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px  #585858, 0 0 20px #585858, 0 0 25px  #585858, 0 0 30px  #585858, 0 0 35px #585858;
      }
      to {
        text-shadow: 0 0 10px #fff, 0 0 15px #979797, 0 0 20px  #979797, 0 0 25px  #979797, 0 0 30px  #979797, 0 0 35px #979797, 0 0 40px #979797;
      }
  }
#Dance{
    background-image: url(../resources/dancecard1.jpg);
    background-position: center;
    background-size: cover;
}
#Dramatics{
    background-image: url(../resources/dramacard.jpeg);
    background-position: center;
    background-size: cover;
}
#FineArts{
    background-image: url(../resources/fineartscard2.jpg);
    background-position: center;
    background-size: cover;
}
#Intellectual{
    background-image: url(../resources/intellectualcard.jpg);
    background-position: center;
    background-size: cover;
}
#Music{
    background-image: url(../resources/musiccard1.jpg);
    background-position: center;
    background-size: cover;
}
#Photography{
    background-image: url(../resources/photographycard.jpg);
    background-position: center;
    background-size: cover;
}
#Technical{
    background-image: url(../resources/technicalcard.jpg);
    background-position: center;
    background-size: cover;
}
