/* For Entire Document*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, sans-serif, Tahoma, Geneva;
}
/* Body */
body{
    background-image: url(resources/backgroundimage1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: 1px solid #fff;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* Section Heading CSS*/
.sectionHeading{
    font-size: 3vw;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
@media screen and (max-width: 1000px){
    .sectionHeading{
        font-size: 4vw;
    }
}
@media screen and (max-width: 500px){
    .sectionHeading{
        font-size: 7vw;
    }
}

/* Sponsors */
.sponsors{
    margin: 1rem 0rem;
}
.sponsorRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sponsorColumn{
    width: 300px;
    height: 375px;
    border: solid 1px #fff;
    margin: 2%;
    overflow: hidden;
    background-color: #2c2929;
    border-radius: 30px;
}
/* Sponsor Logo */
.sponsorLogo{
    width: 200px;
    height: 200px;
    margin: 25px auto;
}
.sponsorLogo > a {
    object-fit: contain;
    vertical-align: middle;
    text-align: center;
}
.sponsorLogo > a > img{
    width: 100%;
    margin: auto;
    display: block;
}
/* Sponsor Name */
.sponsorColumn > h4{
    color: #fff;
    text-align: center;
    font-size: 2.2vw;
    font-weight: 400;
    background-color: #131313;
}
@media screen and (max-width: 1000px){
    .sponsorColumn > h4{
        font-size: 3vw;
    }
}
@media screen and (max-width: 700px){
    .sponsorColumn > h4{
        font-size: 5.5vw;
    }
}
/* Sponsor Social Media Handle CSS */
.sponsorMedia{
    height: 30px;
    max-width: 100%;
    margin-top: 7.5px;
    text-align: center;
    background-color: #131313;
}
.sponsorMedia > a {
    font-size: 1.2rem;
    color: #f1f1f1;
    text-decoration: none;
}
